# ==========================================
# SYSTEM & NAVIGATION ALIASES
# ==========================================
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# ==========================================
# CUSTOM POWER-USER SHORTCUTS
# ==========================================
alias cl='clear'
alias py='python3'
alias off='poweroff'
alias re='reboot'
alias up='sudo apt update && sudo apt upgrade -y'
alias o='open .'
alias c='code .'

# Environment Layout Toggles
alias qwerty="setxkbmap us"
alias dvorak="setxkbmap us dvorak"

# Health/Eye Care
alias day='redshift -P -O 6500'
alias night='redshift -P -O 3500'
alias normal='redshift -x'

# Tools & Gaming
alias tt='ttyper -w 30'
alias sleep="cmatrix -s -b -C green"
alias ws='dbus-send --session --dest=org.Cinnamon --type=method_call /org/Cinnamon org.Cinnamon.ShowExpo'

# Notification alert tool for long-running processes
#alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

#Terminal openrouter api shorts
# Force Aider to accept OpenRouter names cleanly with correct formatting
alias ai-laguna='uv tool run --from aider-chat aider --model openrouter/poolside/laguna-m.1:free --edit-format diff'
alias ai-gpt='uv tool run --from aider-chat aider --model openrouter/openai/gpt-oss-120b:free --edit-format diff'
alias ai-nvidia='uv tool run --from aider-chat aider --model openrouter/nvidia/nemotron-3-ultra-550b-a55b:free --edit-format diff'
